---
import TestimonialSlider from "@layouts/function-components/TestimonialSlider";
const { testimonial } = Astro.props;
---

<section class="reviews">
  <div class="container">
    <div class="row justify-between">
      <div class="lg:col-6 lg:text-left md:text-center mb-10">
        <h2>{testimonial.title}</h2>
      </div>
      <div class="lg:col-6">
        <p>
          {testimonial.description}
        </p>
      </div>
    </div>
    <div class="row mt-10">
      <div class="col-12">
        <TestimonialSlider list={testimonial.testimonial_list} client:load />
      </div>
      <a class="btn btn-white mt-8 col-4 ml-[35%]">Saber más</a>
    </div>
  </div>
</section>
